* {
  margin: 0;
  padding: 0;
}

body {
  /* more on this crazy value in a minute */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}


 /* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;

}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #fce138;
}


header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 25px;
  font-weight: lighter;
  font-size: 22px;
}









